/* description */
.desc{
  color:#D4D4D4;
  text-align: justify; 
  padding-right: 50px;
  opacity: 70%;
  margin-left: 50px;
  margin-right: 20%;
}

/*Enables the use of flex box*/
body 
{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
  /*CSS for the first part of the homepage*/
.col-lg-8 
{
    flex: 2;
    background-color: #1d1d1c;;
}
  /*CSS for the second part of the homepage*/
.col-lg-4 
{
    background-color: #1d1d1c;;
    height: 100vh;
}
/*centers the content*/
.center 
{
    display: flex;
    justify-content: center;
     align-items: center;
     margin-top: -100px;
     height: 100vh;

}
/*adjusts the heading*/

  .title {
    position: relative;
    font-size: 100px;
    margin-left: 40px;
    color: #A65A28;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    text-shadow: 2.5px 3.5px 4px rgba(23, 12, 4, 0.786),
                 -3px -3px 4px rgba(139, 76, 35, 0.329);
  }

  @media (max-width: 576px) {
    /* Small devices (576px and below) */
    .title {
      font-size: 60px;
      margin-left: 20px;
    }
  }

  @media (min-width: 577px) and (max-width: 992px) {
    /* Medium devices (577px to 992px) */
    .title {
      font-size: 80px;
      margin-left: 30px;
    }
  }

  @media (min-width: 993px) {
    /* Large devices (993px and above) */
    .title {
      font-size: 100px;
      margin-left: 40px;
    }
  }


/*modifies the subheading*/
.subheading
{
    font-size: 30px;
    color:#D4D4D4;
    margin-left: 50px;
}
 /*adjusts the text inside div center*/
.content 
 {
    position: relative;
    left: 40px;
    margin-right: 50px;
}
/*css for the footer*/
footer 
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1d1d1c;;
    color: #fff;
    text-align: center;
    padding: 6px;
}

/*adjusts color of navbar*/
  .navbar {
    background-color: #1d1d1c;
  }
/*adjusts the color of the sign up button*/
  .orange-btn {
    color: #D4D4D4;
    background-color: #A65A28;
  }

  /* For Sign up button */
  .signUp {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #D4D4D4;
  padding: 0.25em .05em;
  --button_outline_color: #A65A28;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}
/* sign up shadow */
.signUp_top {
  display: block;
  box-sizing: border-box;
  border: 1px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}
button:hover .signUp_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .signUp_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}


   /*Get Started*/
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #A65A28;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 1;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.75rem;
    color: #A65A28;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }
  
  
  
  

 

  
  