.panel
{
  margin: auto;
  width: 50%;
  background-color: #FDB137;
  border-radius: 25px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
body 
{
  background-color: #4a686a6b;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.calculator
{
    margin:0px;
    background-color: #FEEAA5;
    padding: 15px;
    border-bottom-left-radius:  25px;
   border-bottom-right-radius:  25px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.button 
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FDB137;
    border: none;
    border-radius: 15px;
    
  }
  
  .button:hover {background-color: #fa9d09}
  
  h2
  {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
  }
  
  .textStyle
  {
    
    margin: 5px;
  }

  .result
  {
    text-align:center;
  }
.navbar-custom 
{
    background-color: #4a686a;
    display: flex;
    padding:5px;
}
.navbar-brand
{
  padding-top:10px;
  padding-bottom:10px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.box
{
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    animation: calculator-entrance 0.5s ease-in-out;
}

.form-control 
{
  width: 100%;
  direction:ltr;
}

@keyframes calculator-entrance {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}